.resource
	margin-left 20px

.row
	margin-top: 10%

span.add
	text-decoration: none
	color: #FF6161
	padding: 5px
	&:hover
		color: @color
		text-decoration: none
		cursor: pointer
.btn-def
	border-radius 0.5rem
	font-weight: 400
	margin-top: 20px
	&:hover
		color: #fff