.show-files 
  margin-top 10%

img 
  margin-bottom 2rem

.new-link
  text-decoration: none
  color: #FF6161
  margin-bottom: 20px
  &:hover
    color: @color
    text-decoration: none
    cursor: pointer
.addHomeworks
  margin-top: 5%
  margin-right: 0
  margin-bottom: 30px
div
  span 
    padding 10px
    small 
      padding: 6px

span.fa.fa-close
  color #b3b3b3
  float: right;
  margin-top: -15px;
  margin-right: -25px;

span.fa.fa-sign-in
  color #0a78c9