.show-files 
  margin-top 10%

img 
  margin-bottom 2rem

.new-link
  text-decoration: none
  color: #FF6161
  margin-bottom: 20px
  font-weight 500
  &:hover
    color: @color
    text-decoration: none
    cursor: pointer
.addResources
  margin-top: 5%
  margin-right: 0
  margin-bottom: 30px
div
  span 
    font-size 20px
    small 
      padding: 6px

.btn-def
  margin-left: -20px
  z-index: 3
  padding: 5px 30px
  font-weight: 400

span.fa.fa-2x.fa-star
  color #FFBB22

p.card-text 
  span
    color #b3b3b3
.addResources
  font-size 15px
span.fa.fa-close
  color #b3b3b3
  float: right;
  margin-top: -15px;
  margin-right: -25px;

