.show-files 
  margin-top 10%

img 
  margin-bottom 2rem

.new-link
  text-decoration: none
  color: #FF6161
  &:hover
    color: @color
    text-decoration: none
    cursor: pointer
.addResources
  margin-top: 5%
  margin-right: 0