p.lead
  button.btn.btn-primary
    margin-left 20px

span.fa.fa-2x.fa-star
  color #FFBB22

p.card-text 
  span
    color #b3b3b3

div
  span 
    font-size 20px
    small 
      padding: 6px
 
p.card-text
  span 
    margin-left: 15px